@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background: #cdc1b7; /* old green 639e65  */
    min-height: 100vh;
}
#header{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 25px 25px;
    display: flex;
    justify-content: space-between;
}
#header .logo{
    font-family: 'Press Start 2P', sans-serif;
    color: #fffaf1; /* old: lightgreen */
    text-shadow: #958171 -10px 6px; /* old: #1f512e */
    font-size: 2.0em;
    text-decoration: none;
    position: fixed;


    white-space: nowrap;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ⚪️ intro ⚪️ */
#intro {
    display: flex;
    flex-direction: column;  /* Stack message and scroll GIF vertically */
}
#intro .message-wrapper {
    display: inline-flex;  /* Ensure text and cursor stay inline */
    justify-content: center;
    align-items: center;
}
#intro h1 {
    font-size: 2.5em;
    font-family: 'Roboto Mono', sans-serif;
    color: #fffaf1; /* old green #dbffdb */
    text-shadow: #bca58e -10px 10px; /* old green #65956 */

    white-space: nowrap;
}
#intro .typed-cursor {
    font-size: 4em;  /* Same size as the message to match */
    color: #fffaf1;  /* old green #65956 */
    text-shadow: #bca58e -8px 8px;
    margin-left: -2px;
}
#intro .scroll-gif {
    margin-top: 20px;  /* Adds space between the message and GIF */
    opacity: 0;
}
#loading-gif {
    width: 60px;  /* Smaller size for the GIF */
    height: 60px;
}
/* 🔴️Intro 🔴️ */
/* ⚪️ OVERVIEW ⚪️ */
#overview {
    display: flex;
    flex-direction: column;
    padding: 25px;
    min-height: 120vh;
}
#overview .BGtitle {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 2.0em;
    color: lightgreen;
    text-shadow: #1f512e -8px 8px;
    opacity: 0;
    white-space: nowrap;
}
#overview .BGtp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    max-width: 1200px; /* Restrict the width of the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 50px; /* Add padding inside the container */
    gap: 20px; /* space between the text and the image */

} /* contains slideshow and intro */
#overview .slideshow-container {
    opacity: 0;
    width: 40vh;
    height: 46vh;
    position: relative;
    overflow: hidden;
    border-radius: 5%;
    box-shadow: -10px 10px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
#overview .slideshow-container:hover {
    box-shadow: -10px 15px 20px rgba(0, 0, 0, 0.5);
    transition: 1s ease;
}
#overview .slideshow-img {

    scale: 1.0;
    transition: all 1s ease;

    position: absolute;
    width: 39.8vh;
    height: 45.8vh;
    object-fit: fill; /* Maintain aspect ratio while filling the container */
    border-radius: inherit; /* Match the container's border radius */
}
#overview .slideshow-img:hover {
    scale: 1.02;
    transition: all 1s ease;
}
#overview .BGintro { /* Hello im Gunnar - */
    max-width: 500px;
    text-shadow: #558061 -6px 5px 5px;
    opacity: 0;
}
#overview .heroText {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 2.6em;
    color: #b4ffb4;
}
#overview .heroText .name {
    color: #fffd3d; /* Change the color for "Gunnar Balch" */
}
#overview .devText {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 3em;
    color: #fffd3d;

    white-space: nowrap;
    display: inline-flex; /* Align cursor with text */
    align-items: center; /* Center the cursor vertically with text */
    margin-bottom: 0;
}
#overview .typed-cursor {
    font-size: 1em;
    color: #b4ffb4;
    margin-left: -10px;
}
#overview .desc {
    padding-top: 25px;
    font-family: 'Roboto Light', sans-serif;
    font-size: 1.5em;
    color: #b4ffb4;
    line-height: 1.2;
    margin-top: 0;
}
#overview .social-links {
    display: flex;
    justify-content: center; /* Center align the icons */
    align-items: center;
    gap: 20px; /* Space between the icons */
    margin: 20px 0; /* Add spacing around the container */
}
#overview .social-links .social-icon img {
    width: 50px; /* Adjust size of the icons */
    height: 50px;
    transition: transform 0.3s ease, filter 0.3s ease; /* Smooth hover effect */
    filter: blur(100%); /* Default grayscale effect */
}
#overview .social-links .social-icon img:hover {
    transform: scale(1.1);

}
#overview .social-links .social-iconB img {
    width: 56px;
    height: 56px;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: blur(100%);
}
#overview .social-links .social-iconB img:hover {
    transform: scale(1.08);
}
#overview .custom-lineA {
    border: 0;
    height: 2px;
    background: #b4ffb4;
    margin: 20px auto;
    width: 80%;
    display: block;
    position: relative; /* Ensure it's positioned properly */
}
/* 🔴️Overview 🔴️ */
/* ⚪️ Synopsis ⚪️ */
#synopsis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px; /* affects  width */

    height: 250vh; /* Biggest section to contain the big info */
}
#synopsis .Stitle {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.5em;
    color: #d3a2ff;
    text-shadow: #3f1f51 -8px 8px;
    opacity: 0.5;
    align-self: flex-start;

}
#synopsis .synopsis-p {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1em;
    color: #c7ade1;
    text-shadow: #3f1f51 -4px 4px 5px;

    margin: 25px 20px;
    text-align: justify;
    line-height: 2;

    display: flex;
    flex-direction: column; /* Stacks children (p tags) vertically */
    gap: 10px;
}
#synopsis .custom-lineB {
    border: 0;
    height: 2px;
    background: #ae8ac8;
    margin: 10px 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/* 🔴️Synopsis 🔴️ */
/* ⚪️ mystuff ⚪️ */
#mystuff { /* body: #ffba95 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px;
}
#mystuff h1 {
    font-family: 'Press Start 2P', sans-serif;
}
/* 🔴️mystuff 🔴️ */

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 500px) {

    #header {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        padding: 20px 0;
        position: fixed; /* Keeps it in place */
        top: 0;
        left: 0;
    }
    #header .logo{
        font-size: 1.5em;
        text-shadow: #958171 -4px 4px 5px;
    }
    /* ⚪️ intro ⚪️ */
    #intro {
        height: 100vh;
    }
    #intro .message {
        font-size: 1.2em;
    }
    #intro .typed-cursor {
        font-size: 3em; /* Same size as the message to match */
    }
    /* 🔴️Intro 🔴️ */
    /* ⚪️ OVERVIEW ⚪️ */
    #overview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px;
        min-height: 110vh;
    }
    #overview .BGtitle {
        font-family: 'Press Start 2P', sans-serif;
        font-size: 1.6em;
        color: lightgreen;
        text-shadow: #1f512e -8px 8px;
        white-space: nowrap;
    }
    #overview .BGtp { /* contains slideshow and intro */
        flex-direction: column; /* Stack text and image vertically */
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 15px;
        margin: 0 auto;
    }
    #overview .slideshow-container {
        width: 25vh;  /* Reduce size */
        height: 30vh;
        box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.15);
    }
    #overview .slideshow-img {
        width: 24.6vh;  /* Adjust to match container */
        height: 29.6vh;
        object-fit: cover;  /* Keeps aspect ratio while filling */
    }
    #overview .BGintro {
        max-width: 90%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-bottom: 0;
    }
    #overview .heroText {
        font-size: 1.4em;
        white-space: nowrap;
    }
    #overview .devText {
        font-size: 1.4em;
        display: inline-flex;
        align-items: center; /* Keeps them aligned */
        justify-content: center;
        white-space: nowrap; /* Prevent wrapping */
    }
    #overview .devText span {
        display: inline;
        vertical-align: middle; /* Ensures proper alignment */
    }
    #overview .typed-cursor {
        font-size: 1.32em;
        line-height: 1;
        display: inline; /* Prevents block behavior */
        vertical-align: middle; /* Keeps it aligned */
        margin-left: -10px;
    }
    #overview .desc {
        font-size: 1em;
        text-align: center;
        margin-bottom: 0;
    }
    #overview .social-links {
        margin-bottom: 0;
        margin-top: 0;
        gap: 10px;
    }
    #overview .social-links .social-icon img {
        width: 40px; /* Adjust size of the icons */
        height: 40px;
    }
    #overview .social-links .social-iconB img {
        width: 46px;
        height: 46px;
    }
    #overview .custom-lineA {
        width: 80%;
        height: 2px;
        display: block;
        margin: 15px auto;
        position: relative; /* Make sure it's properly positioned */
    }
    /* 🔴️Overview 🔴️ */
    /* ⚪️ Synopsis ⚪️ */
    #synopsis {
        padding: 100px 20px;
        height: auto;
    }
    #synopsis .Stitle {

    }
}
