/* General Body Styles */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: black;
}

/* Full-screen sections */
.scene {
    height: 150vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
}

/* Background images for scenes */
#space {
    background-image: url('images/spaceBG.png');
    background-attachment: scroll;
    background-color: black;
}

#sky {
    background-image: url('images/sky.png');
    background-color: #87CEEB;
    background-attachment: fixed;
    background-position: center;
}

